<h2>Sign up</h2>
<div class="form-wrapper">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

   <div class="field">
    <%= f.text_field :name, autofocus: true, class:"form-field", autocomplete: "name", placeholder:"Name" %>
  </div>

   <div class="field">
    <%= f.text_field :photo, autofocus: true, class:"form-field", autocomplete: "photo", placeholder:"Photo" %>
  </div>

  <div class="field">
    <%= f.text_field :bio, autofocus: true, class:"form-field", autocomplete: "bio", placeholder:"Bio" %>
  </div>
  <div class="field">
    <%= f.text_field :role, autofocus: true, class:"form-field", autocomplete: "role", placeholder:"Role" %>
  </div>
  
  <div class="field">
    <%= f.email_field :email, autofocus: true, class:"form-field", autocomplete: "email", placeholder:"Email" %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-field", placeholder: "Password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-field", placeholder: "Password Confirmation" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>