<h1>Display a specific user</h1>
<div>
<ul>
<%= render "shared/user",  user: @user%>
</ul>
<div class = "bio-container">
<div class ="bio-wrapper">
<h5 class ="blog-title">Bio</h5>
<li  class = "blog-text" ><%= @user.bio%></li>
</div>

<%= link_to "Add post", new_user_post_path(@user.id), class: "add-cmt-btn", remote: true %>
</div>
<div >
<ul>
<%@posts.each do |post|%>
<div class = "show-li_elements">
<%= render partial: "shared/post", locals: { post: post }%>
<%= render partial: "shared/counters", locals: { post: post}%>
<div class = "interaction-btn">
<%= link_to "Add a comment", new_user_post_comment_path(post.author, post), class: "add-cmt-btn", remote: true %>
<%=render 'shared/likes_form', post: post %>
</div>
</div>
<% end %>
</ul>
</div>
<div class="btn-link">
<button class="btn-users">
<a  href="/users/<%= @user.id %>/posts">See all posts</a>
</button>
</div>
</div>