<h1>Display a specific user</h1>
<div>
<ul>
<%= render "shared/user",  user: @user%>
  <button class="btn-users">
    <a class="btn-link" href="<%= new_user_post_path(@user.id)%>">Add Post</a>
    </button>
</ul>

<div class = "bio-container">
<div class ="bio-wrapper">
<h5 class ="blog-title">Bio</h5>
<li  class = "blog-text" ><%= @user.bio%></li>
</div>
</div>
<div >
<ul>
<%@posts.each do |post|%>
<div class = "show-li_elements">
<%= render partial: "shared/post", locals: { post: post }%>
<%= render partial: "shared/counters", locals: { post: post}%>
<%=render 'shared/likes_form', post: post %>
<%= link_to "Add a comment", new_user_post_comment_path(post.author, post), remote: true %>

</div>
<% end %>
</ul>
</div>
    <button class="btn-users">
    <a class="btn-link" href="/users/<%= @user.id %>/posts">See all posts</a>
    </button>
</div>