<h1>Display a list of all posts for a specific user</h1>

<div class="div-container">
  <% if @user %>
  <%= render partial: "shared/user", locals: { user: @user }%>
    <div class= "post-ontainer">
      <ul>
        <% @posts.each do |post| %>
        <div class = "show-li_elements">
          <%= render partial: "shared/post", locals: { post: post }%>
          <%= render partial: "shared/counters", locals: { post: post }%>
<div class = "interaction-btn">
<div class = "add-del-wrapper">
<%= link_to "Add a comment", new_user_post_comment_path(post.author, post), class: "add-cmt-btn", remote: true %>
<% if can? :destroy, post %>
   <%= button_to 'Delete post', user_post_path(post.author, post), class: "add-cmt-btn", method: :delete %>
<%end%>
</div>
<%=render 'shared/likes_form', post: post%>
</div>       
 </div>
           <%= render partial: "shared/comment", locals: { post: post }%>
        <% end %>
      </ul>
    </div>
  <% else %>
    <p>User not found.</p>
  <% end %>
  <div>
  <%= will_paginate @posts,  class: "pagination" %>
</div>
</div>
