<h1>Display a specific post belonging to a specific user</h1>
<div>
<div class = "user-post">

<div class = "show-li_elements">
<ul class="p-wrap">
 <li class = "p-title"><span><%= @post.title%></span> by <%= @post.author.name %></li>
 <%= render partial: "shared/counters", locals: { post: @post, user: @user } %>
</ul>
<li class= "p-text" ><%= @post.text%></li>
<%=render 'shared/likes_form', post: @post%>
<%= link_to "Add a comment", new_user_post_comment_path(@post.author, @post), remote: true %>
</div>

</div>

<%= render partial: "shared/comment", locals: { post: @post }%>
<div class = "form-wrapper">
</div>
</div>