<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "style", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <nav class="navbar"> 
    <span>     
      <% if user_signed_in? %> Logged in as <strong> <%= current_user.email %></strong> 
      </span>
      <span class="nav-items">
        <%= link_to "Home", users_path, class: "navbar-link" %> 
        <%= link_to "Edit profile", edit_user_registration_path, class: "navbar-link" %>     
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "navbar-link"  %>      
      <% end %>
      </span>
    </nav>

   <%= yield %>
    <% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% elsif flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>


   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

  </body>
</html>
